<ul>
  <!-- / for absolute path, without it - relative path (./) (../)-->
  <li>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Home
    </a>
  </li>
  <li>
    <a [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Users (Routing)
    </a>
  </li>
  <li>
    <a [routerLink]="['/forms']" [queryParams]="{param: '1'}" fragment="loading" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      Forms
    </a>
  </li>
  <li>
    <a [routerLink]="['/courses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Courses
    </a>
  </li>
  <!-- <li><a [routerLink]="['/user', 'id']">User</a></li> -->
</ul>

<div class="app">
  <router-outlet></router-outlet>
</div>